.tac {
  text-align: center;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: block;
}

.d-flex {
  display: flex;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.col-3 {
  width: 25%;
}

.px-12 {
  padding: 0 12px;
}

.ptb-25 {
  padding: 25px 0;
}

.ptb-80 {
  padding: 80px 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 84;
}

.icon-84 {
  font-size: 84px;
  color: #650300;
  font-weight: bold;
}

.header {
  background-color: #AA0601;
}
.header h1 a {
  background-image: url(https://github.com/icephy/2023_W3_glasses/blob/main/img/logo-white.png?raw=true);
  background-size: cover;
  width: 80px;
  height: 50px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 375px) {
  .header .container {
    padding: 0;
    max-width: 100%;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  font-size: 20px;
  gap: 64px;
}

.nav-item a {
  color: #FFFFFF;
}
.nav-item a:hover {
  color: #650300;
}

.banner {
  background-image: url(https://raw.githubusercontent.com/icephy/2023_W3_glasses/main/img/home-header.png);
  background-size: cover;
}

.ad-slogan {
  width: 50%;
  margin-left: auto;
  text-align: right;
  padding: 296px 0;
}
.ad-slogan p {
  font-size: 36px;
  color: #650300;
}
.ad-slogan h2 {
  font-size: 64px;
  font-weight: bold;
  color: #650300;
  padding-bottom: 4px;
}

.btn-sm {
  max-width: 104px;
  background-color: #AA0601;
  margin-left: auto;
}
.btn-sm a {
  padding: 6px 12px;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
}
.btn-sm a:hover {
  background-color: #FFFFFF;
  color: #AA0601;
}

.service {
  background-color: #FBF2F2;
}
.service h3 {
  color: #650300;
  font-size: 48px;
  font-weight: bold;
}
.service h4 {
  color: #650300;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}
.service span {
  padding: 24px 0;
  text-align: center;
  display: block;
}
.service p {
  font-size: 16px;
  color: #000000;
}
@media (max-width: 375px) {
  .service .ptb-80 {
    padding: 40px 0;
  }
}

.feature {
  display: flex;
  justify-content: space-between;
}
.feature h4 {
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .feature .container {
    max-width: 696px;
    padding: 0 36px;
  }
  .feature .banner {
    background-image: url(https://raw.githubusercontent.com/icephy/2023_W3_glasses/main/img/home-header-sm.png);
  }
  .feature .ad-slogan {
    width: 100%;
  }
  .feature .ptb-80 {
    padding: 80px 0;
  }
  .feature .feature {
    flex-wrap: wrap;
  }
  .feature .col-4 {
    width: 50%;
  }
}
.feature .container {
  max-width: 348px;
}
.feature .header {
  padding: 0px;
}
.feature .nav-bar {
  flex-direction: column;
  padding: 0;
}
.feature h1 {
  width: 100%;
  padding: 16px 12px;
}
.feature .nav {
  width: 100%;
  flex-wrap: wrap;
  gap: 0%;
}
.feature .nav-item {
  width: 50%;
}
.feature .nav-item a {
  width: 100%;
  padding: 12px 0px;
  outline: 1px solid #fff;
  text-align: center;
}
.feature .ad-slogan {
  padding: 144px 0;
}
.feature .ad-slogan p {
  font-size: 16px;
}
.feature .ad-slogan h2 {
  font-size: 24px;
}
.feature .feature {
  flex-direction: column;
}
.feature .col-4 {
  width: 100%;
}/*# sourceMappingURL=all.css.map */