// Icon 樣式

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 84
  }
  
  .icon-84{
      font-size: 84px;
      color: $secondary;
      font-weight: bold;
  }
  