// Utilities 間距

.ptb-25{
    padding-top: 25px;
    padding-bottom: 25px;
}

.ptb-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.ptb-24{
    padding-top: 24px;
    padding-bottom: 24px;
}

.ptb-296{
    padding-top: 296px;
    padding-bottom: 296px;
}

.mb-4{
    margin-bottom: 4px;
}

.mb-48{
    margin-bottom: 48px;
}

.mb-8{
    margin-bottom: 8px;
}