// 顏色 Variables

$primary: #AA0601;
$secondary: #650300;
$tertiary: #FBF2F2;
$neutral-gary-wh: #FFFFFF;
$neutral-gary-lh: #DEE2E6;
$neutral-gary-dr: #707070;
$neutral-gary-bk: #000000;
$opacity: rgba(0, 0, 0, 0.1608);

// 字級 fonts

$text-xxl: 64px;
$text-xl: 48px;
$text-lg: 36px;
$text-m: 24px;
$text-s: 20px;
$text-xs: 16px;
$text-xxs: 14px;

// Font family 字型

$roboto: 'Roboto', sans-serif;
$noto-sans-tc: 'Noto Sans TC', sans-serif;


// 全站樣式 CSS base，全站樣式通常使用在 HTML 標籤上

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: $noto-sans-tc;
    line-height: 1.5;
}

img{
    max-width: 100%;
    vertical-align: middle;    
}

a{
    text-decoration: none;
    display: block;
}



// Flex layout

.d-flex{
    display: flex;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.jcsb{
    justify-content: space-between;
}

.aic{
    align-items: center;
}

// Utilities 間距

.ptb-25{
    padding: 25px 0;
}


// header 區塊

.header{
    background-color: $primary;
    h1 a{
        background-image: url(https://github.com/icephy/2023_W3_glasses/blob/main/img/logo-white.png?raw=true);
        background-size: cover;
        width: 80px;
        height: 50px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    @media(max-width: 375px){
        .container{
            padding: 0;
            max-width: 100%;
        }
    }
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav{
    font-size: $text-s;
    gap: 64px;   
}

.nav-item{
    a{
        color: $neutral-gary-wh;
        &:hover{
            color: $secondary;
        }
    }

}

// banner 區塊

.banner{
    background-image: url(https://raw.githubusercontent.com/icephy/2023_W3_glasses/main/img/home-header.png);
    background-size: cover;
}

.ad-slogan{
    width: 50%;
    margin-left: auto;
    text-align: right;
    padding: 296px 0;
    p{
        font-size: $text-lg;
        color: $secondary;
    }
    h2{
        font-size: $text-xxl;
        font-weight: bold;
        color: $secondary;
        padding-bottom: 4px;
    }
}

.btn-sm{
    max-width: 104px;
    background-color: $primary;
    margin-left: auto;
    a{
        padding: 6px 12px;
        text-align: center;
        color: $neutral-gary-wh;
        font-size: $text-s;
        &:hover{
            background-color: $neutral-gary-wh;
            color: $primary;
        }
    }
}

// 平板樣式

@media(max-width: 768px){
    .container{
        max-width: 696px;
        padding: 0 36px;
    }

    .banner{
        background-image: url(https://raw.githubusercontent.com/icephy/2023_W3_glasses/main/img/home-header-sm.png);
    }

    .ad-slogan{
        width: 100%;
    }

}


// 手機樣式

@media(max-width: 375px){
    .container{
        max-width: 348px;
    }
    .header{
        padding: 0px;
    }

    .nav-bar{
        flex-direction: column;
        padding: 0;
    }

    h1{
        width: 100%;
        padding: 16px 12px;
    }
    
    .nav{
        width: 100%;
        flex-wrap: wrap;
        gap: 0%;
    }

    .nav-item{
        width: 50%;
        a{
            width: 100%;
            padding: 12px 0px;
            outline: 1px solid #fff;
            text-align: center;
        }
    }

    .ad-slogan{
        padding: 144px 0;
        p{
            font-size: $text-xs;
        }
        h2{
            font-size: $text-m;
        }
    }
}