@import "variables";
@import "base";
@import "layout";
@import "utilities";
@import "icon";

// header 區塊

.header{
    background-color: $primary;
    .logo a{
        background-image: url(https://github.com/icephy/2023_W3_glasses/blob/main/img/logo-white.png?raw=true);
        background-size: cover;
        width: 80px;
        height: 50px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    @media(max-width: 767px){
        .container{
            padding-left: 0;
            padding-right: 0;
            max-width: 100%;
        }
    }
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav{
    font-size: $text-s;
    gap: 64px;   
}

.nav-item{
    a{
        color: $neutral-gary-wh;
        &:hover{
            font-weight: bold;
            transition: 0.2s;
        }
        &:active{
            color: $neutral-gary-wh;
        }
    }

}

// banner 區塊

.banner{
    background-image: url(https://raw.githubusercontent.com/icephy/2023_W3_glasses/main/img/home-header.png);
    background-size: cover;
}

.ad-slogan{
    width: 50%;
    margin-left: auto;
    text-align: right;
    padding: 296px 0;
    p{
        font-size: $text-lg;
        color: $secondary;
    }  
}

.h2{
    font-size: $text-xxl;
    font-weight: bold;
    color: $secondary;
    padding-bottom: 4px;
}

.btn-sm{
    max-width: 104px;
    background-color: $primary;
    margin-left: auto;
    a{
        padding: 6px 12px;
        text-align: center;
        color: $neutral-gary-wh;
        font-size: $text-s;
        &:hover{
            background-color: $neutral-gary-wh;
            color: $primary;
            transition: 0.2s;
            font-weight: bold;
        }
    }
}

// Service 區塊

.h3{
    color: $secondary;
    font-size: $text-xl;
    font-weight: bold;
}

.service{
    background-color: $tertiary;
    h4{
        color: $secondary;
        font-size: $text-m;
        font-weight: bold;
        margin-bottom: 4px;
    }
    span{
        display: block;
    }
    p{
        font-size: $text-xs;
        color: $neutral-gary-bk;
    }

}

.feature{
    display: flex;
    justify-content: space-between;

    h4{
        font-size: $text-m;
        font-weight: bold;
    }
 
}

// 經典樣式商品區塊

.classic-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// 平板樣式

@media (max-width: 992px){
    .container{
        max-width: 768px; 
        padding-left: 36px;
        padding-right: 36px;
    }
    // (.container 寬度算法：696+(36*2)= max-width: 768px)

    .banner{
        background-image: url(https://raw.githubusercontent.com/icephy/2023_W3_glasses/main/img/home-header-sm.png);
    }

    .ad-slogan{
        width: 100%;
    }

    .feature{
        flex-wrap: wrap;
    }
    .col-4{
        width: 50%;
    }

    .classic-product{
        flex-direction: column;
    }

    .col-4{
        width: 50%;
        margin-bottom: 24px;
    }
}


// 手機樣式

@media (max-width: 767px){
    .container{
        max-width: 372px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .header{
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-bar{
        flex-direction: column;
    }

    .logo{
        width: 100%;
        padding: 16px 12px;
    }
    
    .nav{
        width: 100%;
        flex-wrap: wrap;
        gap: 0%;
    }

    .nav-item{
        width: 50%;
        a{
            width: 100%;
            padding: 12px 0px;
            outline: 1px solid #fff;
            text-align: center;
        }
        &:hover{
            background-color: $secondary;
            transition: 0.2s;
        }
        &:active{
            background-color: $secondary;
        }
    }

    .ad-slogan{
        padding: 144px 0;
        p{
            font-size: $text-xs;
        }
    }

    .h2{
        font-size: $text-m;
    }
    .feature{
        flex-direction: column;
    }

    .h3{
        font-size: $text-m;
    }

    .col-4{
        width: 100%;
    }

    .ptb-80{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    // 推出兼具用的 .ptb-80 class 套用在不同的 div 時，同時需要在平板上顯現不同樣的間距時，可以如何管理 CSS 呢？直接在手機版上另外設置間距數值嗎？

}

