@import "variables";
@import "base";
@import "layout";
@import "utilities";
@import "icon";

// header 區塊

.header{
    background-color: $primary;
    h1 a{
        background-image: url(https://github.com/icephy/2023_W3_glasses/blob/main/img/logo-white.png?raw=true);
        background-size: cover;
        width: 80px;
        height: 50px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    @media(max-width: 375px){
        .container{
            padding: 0;
            max-width: 100%;
        }
    }
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav{
    font-size: $text-s;
    gap: 64px;   
}

.nav-item{
    a{
        color: $neutral-gary-wh;
        &:hover{
            color: $secondary;
        }
    }

}

// banner 區塊

.banner{
    background-image: url(https://raw.githubusercontent.com/icephy/2023_W3_glasses/main/img/home-header.png);
    background-size: cover;
}

.ad-slogan{
    width: 50%;
    margin-left: auto;
    text-align: right;
    padding: 296px 0;
    p{
        font-size: $text-lg;
        color: $secondary;
    }
    h2{
        font-size: $text-xxl;
        font-weight: bold;
        color: $secondary;
        padding-bottom: 4px;
    }
}

.btn-sm{
    max-width: 104px;
    background-color: $primary;
    margin-left: auto;
    a{
        padding: 6px 12px;
        text-align: center;
        color: $neutral-gary-wh;
        font-size: $text-s;
        &:hover{
            background-color: $neutral-gary-wh;
            color: $primary;
        }
    }
}

// Service 區塊

.service{
    background-color: $tertiary;
    h3{
        color: $secondary;
        font-size: $text-xl;
        font-weight: bold;
    }

    h4{
        color: $secondary;
        font-size: $text-m;
        font-weight: bold;
        margin-bottom: 4px;
    }
    span{
        padding: 24px 0;
        text-align: center;
        display: block;
    }
    p{
        font-size: $text-xs;
        color: $neutral-gary-bk;
    }

    @media (max-width: 375px){
        .ptb-80{
            padding: 40px 0;
        }
    }
}

.feature{
    display: flex;
    justify-content: space-between;

    h4{
        font-size: $text-m;
        font-weight: bold;
    }
}

// 平板樣式

@media (max-width: 768px){
    .container{
        max-width: 696px;
        padding: 0 36px;
    }

    .banner{
        background-image: url(https://raw.githubusercontent.com/icephy/2023_W3_glasses/main/img/home-header-sm.png);
    }

    .ad-slogan{
        width: 100%;
    }

    // 為何在平板時 padding 80 不見，導致要再寫一次
    .ptb-80{
        padding: 80px 0;
    }
    .feature{
        flex-wrap: wrap;
    }
    .col-4{
        width: 50%;
    }
}


// 手機樣式

@media (max-width: 375px){
    .container{
        max-width: 348px;
    }
    .header{
        padding: 0px;
    }

    .nav-bar{
        flex-direction: column;
        padding: 0;
    }

    h1{
        width: 100%;
        padding: 16px 12px;
    }
    
    .nav{
        width: 100%;
        flex-wrap: wrap;
        gap: 0%;
    }

    .nav-item{
        width: 50%;
        a{
            width: 100%;
            padding: 12px 0px;
            outline: 1px solid #fff;
            text-align: center;
        }
    }

    .ad-slogan{
        padding: 144px 0;
        p{
            font-size: $text-xs;
        }
        h2{
            font-size: $text-m;
        }
    }
    .feature{
        flex-direction: column;
    }
    .col-4{
        width: 100%;
    }
}

